**/__pycache*/
*.pyc
*.md
!README.md
!prompt/README.md
!flat_memory/README.md
!widow/README.md
.claude
_server_data
memer_logs/
.venv
_*
archive/
env.sh
uv.lock
scripts/
test/
widow/main.py
infer/
prompt/*.txt
!prompt/task1.txt
!prompt/task1_obs.txt
!prompt/task2.txt
!prompt/task2_obs.txt
!prompt/task3.txt
!prompt/task3_obs.txt
!prompt/task3_hime_wo_sentry.txt
!prompt/task3_transient_memory.txt
!prompt/task3_transient_memory_wo_sentry.txt
!prompt/task3_only_image.txt
!prompt/task3_only_text.txt
!prompt/task3_no_management.txt
!prompt/task3_FIFO.txt
.DS_Store
